{% extends 'base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card" id="card" style="width: auto;">
    <div class="card-body">
<h1>Acerca de:</h1>
<h5>Esta página web fue realizada por el siguiente equipo de colaboradores, que trabajó en conjunto  con el equipo colaborador de la diócesis de Tuxpan.</h5>
</section>
</main>








<section>
    <div class="container mt-5 mb-5">
<h2>Conoce al equipo</h2>
<h4>Equipo 2:</h4>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 mt-2 ">
        <div class="card p-4 text-center">
            <div class="avatar rounded-circle" style="background-image: url('/static/images/papu.jpg')" >

            </div>
            <h4 class="mt-2">Arturo Javier Vaca Castro</h4>
            <span class="badge badge-primary">PROGRAMADOR</span>

        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-2 ">
        <div class="card p-4 text-center">
            <div class="avatar rounded-circle" style="background-image: url('/static/images/pao.jpg')" >

            </div>
            <h4 class="mt-2">Martínez Herrera Paola Lizbeth</h4>
            <span class="badge badge-secondary">ANALISTA</span>

        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-2 ">
        <div class="card p-4 text-center">
            <div class="avatar rounded-circle" style="background-image: url('/static/images/nay.jpg')" >

            </div>
            <h4 class="mt-2">Tenorio Cruz Naydelin Arlet</h4>
            <span class="badge badge-success">DISEÑADORA</span>

        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-2 ">
        <div class="card p-4 text-center">
            <div class="avatar rounded-circle" style="background-image: url('/static/images/yara.jpg')" >

            </div>
            <h4 class="mt-2">Valencia Martínez Yara Gabriela</h4>
            <span class="badge badge-warning">DOCUMENTADORA</span>

        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mt-2 ">
        <div class="card p-4 text-center">
            <div class="avatar rounded-circle" style="background-image: url('/static/images/lizy.jpg')" >

            </div>
            <h4 class="mt-2">Villasana Casados Lizely Aketzali</h4>
            <span class="badge badge-info">ADMINISTRACION DE SERVICIOS</span>

        </div>
    </div>

    
    
</div>
</div> 
</section>
{% endblock %}

