{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ditux</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    
  <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}" />
<style>
  body{
    background-color:rgba(126,171,240,0.3);
    background-blend-mode: darken;
  }
</style>
</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container"> 
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/logo.png' %}" width="80" height="80" alt="">
      Diócesis tuxpan
    </a>
    
    
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <div class="collapse navbar-collapse" id="navbarNav">

        <li class="nav-item">
          <a class="nav-link" href="/dios">Diócesis</a>
        </li>
            
      <li class="nav-item">
        <a class="nav-link" href="/tasks">Decanatos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/parros">Parroquias</a>
      </li>

      

      <li class="nav-item">
        <a class="nav-link" href="/orgs">Organigrama</a>
      </li>
      

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href='/tasks/create'>Añadir/Decanato</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/parro/create'>Añadir/Parroquia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/notidio/create'>Añadir/Noticia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Cerrar/sesión</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/signup">Crear/sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signin">Iniciar/sesión</a>
      </li>
      {% endif %}
    </ul>
  </div>
  </nav>


  <div
  
       
        class="cover d-flex d-flex justify-content-center align-items-center flex-column" 
        
      >
        <h1>Noticias</h1>
        <p>Diócesis de Tuxpan</p>

        <a href="/acercas" class="btn btn-primary">Conocenos</a>
      </div>
      
  
  

  {% block content %}

  {% endblock %}
  <br><br><br><br><br><br>
  <section>
  <footer>
    
    
    
    <div class="container mt-5 mb-5">
      <div class="row justify-content-center">
        <div class="card">
          <div class="card-header"><h2>Redes Sociales</h2></div>
        <div class="col-4 col-sm-6 col-md-4 col-lg-3 mt-2">
      <div class="card text-white bg-primary mb-3" style="width: 10rem">
        
        <img src="{% static 'images/Facebook_icon.jpg' %}" class="card-img-top" width="80" height="100" alt="logo" />
        <div class="card-body">
          <h5 class="card-title justify-content-center">Facebook</h5>
          <a href="https://www.facebook.com/diocesisde.tuxpan?mibextid=ZbWKwL" class="btn btn-light">abrir</a>
        </div>
      </div>
    </div>

    <div class="col-4 col-sm-6 col-md-4 col-lg-3 mt-2">
      <div class="card text-white bg-warning mb-3" style="width: 10rem">
        
        <img src="{% static 'images/insta.jpg' %}" class="card-img-top" width="80" height="100" alt="logo" />
        <div class="card-body">
          <h5 class="card-title justify-content-center">Instagram</h5>
          
          <a href="https://www.instagram.com/catedraldiocesisdetuxpan/?igshid=NTc4MTIwNjQ2YQ%3D%3D" class="btn btn-light">abrir</a>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
  </footer>
</section>
</body>

</html>