{% extends 'base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card" id="card" style="width: auto;">
    <div class="card-body">
<strong></strong><h1>Obispo</h1>
<div class="justify-content-center">
    <img src="/static/images/MicrosoftTeams-image.png" width="300" height="400" alt="obi"/>
    </div>
<p><strong>Informacion del Obispo: </strong></p>
<h4><strong>MONSEÑOR ROBERTO MADRIGAL GALLEGOS, VI OBISPO DE LA DIÓCESIS DE TUXPAN </strong></h4>
<h5>Lugar de nacimiento: Ejido Iquinuapa, Jalpa de Méndez Tabasco, México</h5>
<h5>Fecha de nacimiento: 08 de Diciembre de 1967</h5>
<h5>Ordenación diaconal: 05 de Febrero 1997 en el Sagrario Catedral, Villahermosa, Tab., por imposición de manos de Monseñor Olvera Ochoa (+).</h5>
<h5>Ordenación presbiteral: 30 de Noviembre 1997 en el Parque la Choca, Villahermosa, Tab., por manos de Mons. Florencio Olvera Ochoa (+). Incardinado a la Diócesis de Tabasco.</h5>
<h5>Estudios Realizados:</h5>
<h5>Primaria en la Escuela Juan Ramos Taracena, del Ejido Iquinuapa, Jalpa de Méndez, Tab.</h5>
<h5>Secundaria en la Escuela Lázaro Cárdenas de la Ciudad de Comalcalco, Tab.</h5>
<h5>Estudios filosófico-teológicos en el Seminario Diocesano del Señor de Tabasco y Nuestra Señora de Guadalupe, en Villahermosa y en Villa Parrilla, Tab.</h5>
<h5>Licenciaura en Teología Espiritual en el Teresianum, Roma.</h5>
    <br> 
<h5>    Servicios Pastorales:</h5>
<h5>Formador del Seminario Mayor Diocesano, como Prefecto de disciplina en la etapa Discipular y Configuradora, Director espiritual y Responsable de la Casa Curso Introductorio, durante 15 años.</h5>
<h5>Profesor del Seminario, durante 20 años.</h5>
<h5>Párroco de la Sagrada Familia, Col. Indeco de Villahermosa, Tab.</h5>
<h5>Párroco de San Martin de Tours, Fracc. Villa las Fuentes, en Villahermosa, Tab.</h5>
<h5>Miembro del Consejo Presbiteral por dos ocasiones.</h5>
<h5>Decano en Ntra. Sra .de Guadalupe, en Villahermosa.</h5>
<h5>Responsable de Caritas de Tabasco durante 6 años.</h5>
<h5>Asesor de las Capillas de Adoración Perpetua en toda la Diócesis, durante 6 años.</h5>
<h5>Vicario Episcopal de la Zona Pastoral II de la Chontalpa, Norte, Tabasco, durante un año y medio.</h5>
<h5>Responsable de la Etapa de formación del Curso Introductorio desde hace 4años. Y acompañando la formación de una comunidad naciente en la Zona de Altozano, fuera de la Ciudad de Villahermosa, Tab.</h5>



</div>
</section>
</main>

{% endblock %}