{% extends 'base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card" id="card" style="width: auto;">
    <div class="card-body">
<strong><h1>{{parro.title}}</strong></h1>
<p><strong>Nombre del Párroco:</strong> {{parro.nombreParroco}}</p>
<p><strong>Dirección/Ubicación:</strong> {{parro.ubicacion}}</p>
<p><strong>Hora Santa:</strong>{{parro.horasanta}}</p>
<p><strong>Hora de Eucaristía:</strong>{{parro.eucaristia}}</p>
<p><strong>Hora de Confesiones:</strong>{{parro.confesiones}}</p>
</section>
</main>
{% endblock %}























